[Unit]
Description=LIMS NGS Panel Service: Miscellaneous Plugin

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=java -jar /data/lims/panel-service-misc.jar --spring.config.location=/etc/lims/panel-service-misc.yml
ExecReload=/bin/kill -INT 
KillMode=control-group
Restart=on-failure
TimeoutStopSec=10s
Type=simple
User=root
Group=greencross

[Install]
WantedBy=multi-user.target
